*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --primary-heading: #080415;
    --primary-text: #51586a;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}

/* Common */
a {
    text-decoration: none;
}

.section-heading {
    color: var(--primary-heading);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -2px;
}

.section-desc {
    color: var(--primary-text);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    height: 62px;
    background: var(--primary-color);
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
}

.btn:hover {
    opacity: 0.9;
}

/* Header, Footer */
.header {
    padding: 20px 0 22px;
    background: #fbfaff;
}

.header > .container,
.footer > .container {
    max-width: 1330px;
}

.header__inner,
.header__info-img,
.footer__top,
.footer__info-img {
    display: flex;
    align-items: center;
}

.header__info,
.footer__info {
    display: flex;
    align-items: center;
}

.header__info-img,
.footer__info-img {
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
}

.header__info-email,
.footer__info-email {
    margin-left: 10px;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.header__info-email:hover,
.footer__info-email:hover {
    opacity: 0.9;
}

.header__logo,
.footer__logo {
    margin-left: 357px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.header__nav,
.footer__nav {
    margin-left: auto;
}

.header__nav-list,
.footer__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-link,
.footer__nav-link {
    position: relative;
    padding: 8px 21px;
    color: var(--primary-text);
    font-size: 1.8rem;
    font-weight: 400;
}

.header__nav-link:hover,
.footer__nav-link:hover {
    text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
}

.header__nav-link:hover::before,
.footer__nav-link:hover::before {
    left: 0;
    width: 100%;
}

.header__nav-link::before,
.footer__nav-link::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 1.2px;
    background: var(--primary-color);
    transition: width 0.4s ease-out;
}

/* Hero */
.hero {
    padding-top: 20px;
    background: #fbfaff;
}

.hero__inner {
    display: flex;
    column-gap: 156px;
}

/* Hero media */
.hero__media {
    position: relative;
}

.hero__media-wrap-img {
    width: 514px;
    height: 705px;
}

.hero__media-img {
    position: relative;
    z-index: 1;
    width: 100%;
}

.hero__media-decor {
    position: absolute;
    left: -210px;
    bottom: 0;
}

/* Hero content */
.hero__content {
    position: relative;
    margin-top: 137px;
}

.hero__content-heading {
    font-size: 8rem;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.hero__content-desc {
    margin-top: 20px;
    width: 370px;
}

.hero__cta {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 50px;
}

.hero__cta-link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    text-decoration-line: underline;
    text-decoration-color: #817f8a;
}

.hero__cta-link:hover {
    opacity: 0.9;
}

.hero__social {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 104px;
}

.hero__social-title {
    font-weight: 500;
}

.hero__social-list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.2);
}

.hero__social-item:hover {
    opacity: 0.8;
}

.hero__content-decor {
    position: absolute;
    right: -160px;
    bottom: 0;
}

/* App */
.app {
    padding: 100px 0;
}

.app_inner {
    display: flex;
    align-items: center;
    column-gap: 105px;
}

.app__heading {
    position: relative;
    width: 253px;
    margin-left: 100px;
    font-size: 4.2rem;
    line-height: 1.19;
    letter-spacing: -1px;
}

.app__heading::before {
    position: absolute;
    display: inline-block;
    content: "";
    top: 22px;
    left: -100px;
    width: 86px;
    height: 2px;
    background: var(--primary-color);
}

.app__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 34px 36px;
}

.app__item {
    display: flex;
    align-items: center;
    column-gap: 13px;
    color: #080415;
}

.app__item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.app__item-design {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fbfaff;
}

.app__item-design-up {
    background: #14a800;
}

/* Specialties */
.specialties {
    padding: 40px 0 140px;
}

.specialties-heading {
    text-align: center;
}

.specialties__desc {
    text-align: center;
    margin: 20px auto 0;
    width: 534px;
}

.specialties__inner-list {
    margin-top: 60px;
}

.specialties__item {
    background: #fbfaff;
}

.specialties__item {
    padding: 33px 42px 32px 43px;
    border: 2px solid transparent;
    transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
}

.specialties__item:hover {
    transform: translateY(-20px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.specialties__item-wrap-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid #efeef3;
}

.specialties__item-title {
    display: inline-block;
    margin-top: 22px;
    color: var(--primary-heading);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.specialties__item-desc {
    margin-top: 15px;
    width: 285px;
}

/* Projects */
.projects {
    padding: 86px 0;
    background: var(--primary-color);
}

.projects__top {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.projects__top-heading,
.projects__top-desc {
    color: #fff;
}
.projects__top-heading {
    width: 468px;
}

.projects__top-desc {
    width: 370px;
    opacity: 0.7;
}

.projects__list {
    margin-top: 70px;
}

.projects__list-row-gap {
    row-gap: 30px;
}

.projects__item {
    position: relative;
    display: flex;
    padding: 24px 23px 23px 34px;
    background: #fbfaff;
    transition: box-shadow 0.1s ease-in-out, transform 0.3s ease-in-out;
}

.projects__item:hover {
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projects__item-decor {
    position: absolute;
    top: 0;
    right: 0;
}

.projects__content {
    margin-top: 20px;
}

.projects__title {
    color: var(--primary-heading);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.projects__desc {
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 1.43;
}

.projects__link {
    display: inline-block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    text-decoration-thickness: 1px;
    text-decoration-line: underline;
    transition: color 0.2s ease-in;
}

.projects__link:hover {
    color: var(--primary-color);
}

.projects__wrap-img {
    flex: 1 0 auto;
    width: 246px;
    height: 187px;
    z-index: 1;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__cta {
    margin-top: 80px;
    text-align: center;
}

.projects__btn {
    color: #080415;
    background: #fff;
}

/* Interactive ,Rating*/
.info {
    padding: 140px 0 50px;
    text-align: center;
}

/* Interactive */
.interactive__preamble {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.interactive__heading {
    margin-top: 10px;
}

.interactive__desc {
    width: 570px;
    margin: 15px auto 0;
}

.interactive__about {
    display: flex;
    justify-content: space-evenly;
    margin: 70px 112px 0;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.interactive__about-item {
    text-align: left;
}

.interactive__about-num {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: 1.68px;
    text-decoration-thickness: 2.8px;
    text-decoration-line: underline;
    text-underline-offset: 8px;
}

.interactive__about-title {
    color: var(--primary-text);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.interactive__wrap-video {
    position: relative;
    margin-top: 70px;
    width: 100%;
    padding-top: 56.25%;
    background: #000;
    z-index: 1;
    cursor: pointer;
}

.interactive__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.interactive__play {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.3s ease;
}

.interactive__play:hover {
    background: rgba(255, 255, 255, 0.9);
}

.interactive__intro {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #51586a;
    font-weight: 700;
    line-height: 1.66;
    text-transform: uppercase;
    background: #fff;
    transition: bottom 0.3s ease-in-out;
}

/* Ratting */
.rating {
    position: relative;
    background: #fbfaff;
    margin-top: -314px;
    padding: 473px 0 74px;
    overflow: hidden;
}

.rating > .container {
    overflow: hidden;
}

.rating__desc {
    margin-top: 20px;
    width: 570px;
    margin: 0 auto;
}

.ratting__list {
    display: flex;
    margin-top: 60px;
    transition: transform 0.4s ease-in-out;
}

.ratting__item {
    width: 100%;
    flex-shrink: 0;
}

.rating__quote {
    width: 679px;
    font-size: 2.4rem;
    margin: 0 auto;
}

.ratting__client {
    margin-top: 36px;
}

.ratting__client-top {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.ratting__client-wrap-avatar {
    width: 39.833px;
    height: 39.833px;
    border-radius: 50%;
}

.ratting__client-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.ratting__client-name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33;
}

.ratting__client-position {
    font-size: 1.6rem;
    line-height: 1.81;
}

.ratting__dots {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.ratting__dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #cac9d0;
    cursor: pointer;
}

.ratting__dot:not(.ratting__dot-active):hover {
    background: #9c98ad;
}

.ratting__dot-active {
    position: relative;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid var(--primary-color);
}

.ratting__dot-active::before {
    position: absolute;
    content: "";
    top: 3.3px;
    left: 3.5px;
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    border-radius: 50%;
}

.ratting__decor {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ratting__decor:nth-last-of-type(2) {
    left: initial;
    right: -133px;
}

/* Questions */
.questions {
    padding: 95px 0 80px;
}

.questions__heading {
    width: 575px;
}

.questions__list {
    margin-top: 80px;
}

.questions__item {
    position: relative;
    width: 86.23%;
    padding: 0 0 21px 23px;
    transition: margin-bottom 0.4s ease-in-out;
}

.questions__item::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 2px;
    background: #08182f;
    transition: all 0.4s ease-in-out;
}

.questions__title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.5px;
    transition: color 0.4s ease-in-out;
}

.questions__desc {
    margin-top: 23px;
    width: 487px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
}

.questions__show {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #d0d1d2;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.4s ease-in-out;
}

.questions__show::before,
.questions__show::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    background: #161a1c;
}

.questions__show::after {
    width: 2px;
    height: 14px;
    transition: rotate 0.4s ease-in-out;
}

.questions__item:has(:checked):not(:last-child) {
    margin-bottom: 60px;
}

.questions__item:has(:checked)::before {
    bottom: 0;
    background: var(--primary-color);
}

.questions__checkbox:checked ~ .questions__title {
    color: var(--primary-color);
}

.questions__checkbox:checked ~ .questions__desc {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.questions__checkbox:checked ~ .questions__show {
    border-color: #dfd9fc;
}

.questions__checkbox:checked ~ .questions__show::before {
    background: var(--primary-color);
}

.questions__checkbox:checked ~ .questions__show::after {
    rotate: 90deg;
    background: var(--primary-color);
}

/* Atmosphere */
.atmosphere {
    padding: 80px 0 70px;
    text-align: center;
}

.atmosphere__desc {
    margin: 20px auto 0;
    width: 528px;
}

.atmosphere__describe {
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.atmosphere__images {
    margin-top: 70px;
}

.atmosphere__wrap-img {
    height: 529px;
    overflow: hidden;
}

.atmosphere-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}

.atmosphere-img:hover {
    transform: scale(1.1, 1.1);
}

/* Talk */
.talk {
    position: relative;
    max-width: 1330px;
    margin: 70px auto 0;
    padding: 68px 0;
    text-align: center;
    background: #fbfaff;
}

.talk__icon,
.talk__desc,
.talk__btn,
.talk__heading {
    position: relative;
    z-index: 1;
}

.talk__desc {
    margin: 20px auto 0;
    width: 570px;
}

.talk__btn {
    margin-top: 50px;
}

.talk__decor {
    position: absolute;
}

.talk__decor:nth-of-type(1) {
    left: 0;
    bottom: 0;
}

.talk__decor:nth-of-type(2) {
    top: 0;
    right: 0;
}

.talk__decor:nth-of-type(3) {
    top: 0;
    left: 16%;
}

/* Footer */
.footer {
    margin: 50px 0 30px;
}

.footer__separator {
    margin: 32px 0 18px -49px;
    width: calc(100% + 98px);
    height: 1px;
    background-color: #f1f1f2;
}

.footer__bot-inner {
    display: flex;
    justify-content: space-between;
}

.footer__bot-copyright {
    color: #979aaa;
}

.footer__bot-right {
    display: flex;
    align-items: center;
}

.footer__bot-right-desc {
    color: #979aaa;
    letter-spacing: -0.54px;
}

.footer__bot-right-separator {
    width: 1px;
    height: 14px;
    margin: 0 13px 0 23px;
    background: #979aaa;
}
